html, body, #app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-bottom: 1px solid black;
    flex-shrink: 0;
}

.split {
    display: flex;
    flex: 1;
}

.split .left, .split .right {
    display: block;
    width: 50%;
    height: 100%;
}