html,
body,
#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: monospace;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-bottom: 1px solid black;
    flex-shrink: 0;
}

.split {
    display: flex;
    flex: 1;
}

.split .left,
.split .right {
    display: block;
    width: 50%;
    height: 100%;
}

@media (max-width: 700px) {
    .split {
        flex-direction: column;
    }

    .split .left,
    .split .right {
        width: 100%;
        height: 50%;
    }
}

.errors {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: red;
}