:root {
    --code-color: #0f0;
    --code-background-color: black;
}

html,
body,
#app {
    background-color: var(--code-background-color);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: monospace;
}

button {
    color: var(--code-color);
    background: var(--code-background-color);
    border: 1px solid var(--code-color);
    border-radius: 0;
    margin: 0 8px 0 8px;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    color: var(--code-color);
    background-color: var(--code-background-color);
    justify-content: space-between;
    border-bottom: 1px solid var(--code-color);
    flex-shrink: 0;
    padding: 10px;
}

.code {
    color: var(--code-color);
    background-color: var(--code-background-color);
    border: none;
}

.inet {
    background-color: white;
}

.split {
    display: flex;
    flex: 1;
}

.split .left,
.split .right {
    display: block;
    width: 50%;
    height: 100%;
}

@media (max-width: 700px) {
    .split {
        flex-direction: column;
    }

    .split .left,
    .split .right {
        width: 100%;
        height: 50%;
    }
}

.errors {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color: #cdf1e7; /* from effekt-lang.org */
    padding: 0 10px 0 10px;
}

.errors::before {
    content: "⚠";
    display: inline-block;
    margin-right: 5px;
    font-size: xxx-large;
}